:root {
  --one-third: calc(100vw / 3);
  --two-third: calc(100vw / 3 * 2);
  --one-twelfth: calc(100vw / 12);
  --one-twelfth-neg: calc(-100vw / 12);
  --transition: 0.7s ease-in-out;
  --transition-fast: 0.25s ease-in-out;
  --default-timing-function: ease-in-out;
  --bounce-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  --sans-fallback: Helvetica, Arial, sans-serif;
  --h-light: "Helvetica Light", Helvetica, Arial, sans-serif;
  --h-regular: "Helvetica", Helvetica, Arial, sans-serif;
  --h-bold: "Helvetica Neue LT Std 75 Bold", Helvetica, Arial, sans-serif;
  --h-black-e-i: "Helvetica Neue LT Std 93 Black Extended Oblique", Helvetica,
    Arial, sans-serif;
  --fleur: "Fleur De Leah", "Snell Roundhand", "Brush Script MT", cursive;

  --text-colour: red;
  --hover-colour: hsl(0, 0%, 85%);
}

body {
  background-color: #fff;
  cursor: none;
}

::selection {
  background: var(--hover-colour);
}

.overflow-none {
  overflow: hidden;
}

@-webkit-keyframes loading {
  from {
    background-color: red;
  }
  50% {
    background-color: hsl(0, 0%, 50%);
  }
  to {
    background-color: red;
  }
}

@keyframes loading {
  from {
    background-color: red;
  }
  50% {
    background-color: hsl(0, 0%, 50%);
  }
  to {
    background-color: red;
  }
}

#loading-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: red;
  z-index: 1000;

  animation: loading 3s steps(6) infinite;

  z-index: 1000;
  overflow: hidden;
  pointer-events: none;
  -webkit-transition: all var(--transition);
  transition: all var(--transition);
}

#cursor-caption {
  position: fixed;
  max-width: calc(100vw / 6);
  min-width: min-content;

  font-family: Helvetica, var(--sans-fallback);
  font-weight: normal;
  font-size: 0.85rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: red;

  /* mix-blend-mode: difference; */
  pointer-events: none;
  z-index: 999;
}

#cursor-caption__cursor {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border: 1.4px solid var(--text-colour);
  border-radius: 100%;

  z-index: 999;
  -webkit-transition: all 0.25s var(--bounce-timing-function),
    background-color 0.35s ease-in;
  transition: all 0.25s var(--bounce-timing-function),
    background-color 0.35s ease-in;
}

.highlight {
  width: 0.75rem !important;
  height: 0.75rem !important;
  background-color: hsl(0, 100%, 50%);
}

.pointer {
  cursor: none;
}

.title {
  position: fixed;
  padding: 1rem;
  padding-top: 0.5rem;

  color: var(--text-colour);
  font-family: var(--fleur);
  font-size: 2.5rem;
  font-style: normal;
  line-height: 2.5rem;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-text-stroke: 1.5px var(--text-colour);

  z-index: 998;
}

.title :hover {
  color: var(--hover-colour);
}

#menu-btn {
  position: fixed;
  padding: 1rem;
  padding-top: 0.5rem;
  right: 0;

  z-index: 998;
}

#menu-btn a {
  color: var(--text-colour);
  font-family: var(--fleur);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 100;
  line-height: 2.5rem;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-text-stroke: 1.5px var(--text-colour);
}

#menu-btn a:hover,
a:hover {
  color: var(--hover-colour);
  -webkit-text-stroke-color: var(--hover-colour);
}

.content {
  max-width: 120ch;
  min-height: calc(100vh - 3.8rem);
  padding: 1rem;
}

.content__p {
  margin-bottom: 1.25rem;

  font-family: var(--h-bold);
  font-size: 1.25rem;
  line-height: 1.3rem;
  font-style: normal;

  letter-spacing: -0.025rem;
  hyphens: none;
  hyphenate-limit-chars: 7 4 3;
  text-align: left;

  color: var(--text-colour);
}

.colophon {
  position: relative;
  bottom: 0;
  padding: 1rem;
}

.colophon__p {
  font-family: var(--h-bold);
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-style: normal;

  letter-spacing: 0.01em;
  hyphens: none;
  text-align: left;

  color: var(--text-colour);
}

i {
  font-style: italic;
}

a {
  color: var(--text-colour);
}

#mobile-overlay {
  display: none;
}

@media screen and (max-width: 1150px) {
  .content {
    max-width: 110.4ch;
  }
  .content__p {
    font-size: 1.15rem;
    line-height: 1.196rem;
  }
}

@media screen and (max-width: 1070px) {
  .content {
    max-width: 100.8ch;
  }
  /*   .content__p {
    font-size: 1.05rem;
    line-height: 1.092rem;
  } */
}

@media screen and (max-width: 1070px) {
  .content {
    max-width: 80ch;
  }
}

@media screen and (max-width: 800px) {
  body {
    overlay: hidden;
  }

  #mobile-overlay {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    padding: 1rem;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--h-regular);
    font-size: 1.25rem;
    letter-spacing: -0.045rem;
    text-transform: uppercase;
    text-align: center;
    background-color: red;

    z-index: 1000;
  }
}
